{% extends "common/base_page.html" %}

{% block page-title %}
Page word_list.
{% endblock %}

{% block content %}
<body>
    <div class="container px-4 py-5" id="terms-table">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="py-3">word</th>
                        <th scope="col" class="py-3">translation</th>
                        <th scope="col" class="py-3">is learned</th>
                        <th scope="col" class="py-3">added at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                    <tr>
                        <td class="py-3">{{ word.word }}</td>
                        <td class="py-3">{{ word.translation }}</td>
                        <td class="py-3">{{ word.is_learned }}</td>
                        <td class="py-3">{{ word.added_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
