<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block page-title %}{% endblock %}</title>
        <!-- load static -->
        {% load static %}
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles -->
        <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}
        <!-- Help scripts -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    </head>

    <body class="d-flex flex-column h-100 bg-body-tertiary">
        <!-- Header of page -->
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">LeLang</a>
                    <button
                            class="navbar-toggler"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        {% if user.is_authenticated %}
                            <!-- Left side of navbar -->
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li class="nav-item text-white">
                                    <a class="nav-link text-white" href="/learning">Learning</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/term-add">Word add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/term-list">Word list</a>
                                </li>
                            </ul>

                            <!-- Right side of navbar -->
                            <ul class="nav ms-auto mb-2 mb-md-0">
                                <li class="nav-item">
                                    <div class="dropdown bd-mode-toggle">
                                        <button
                                                class="btn py-2 dropdown-toggle d-flex align-items-center"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                        >
                                            <span style="color:white;">{{ user.username }}</span>
                                        </button>
                                        <ul
                                                class="dropdown-menu dropdown-menu-end shadow"
                                                aria-labelledby="bd-theme-text"
                                        >
                                            <li>
                                                <a
                                                      type="button"
                                                      class="dropdown-item d-flex align-items-center"
                                                      href="/profile"
                                                >
                                                    Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                      type="button"
                                                      class="dropdown-item d-flex align-items-center"
                                                      href="/logout"
                                                >
                                                    Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <!-- Only login for navbar -->
                            <ul class="nav ms-auto mb-2 mb-md-0">
                                <li class="nav-item">
                                    <a type="button" class="btn btn-outline-light me-2" href="/login">Login</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main part of page -->
        <main class="flex-shrink-0">
            <div class="container">
                {% include 'common/messages.html' %}
                {% block content %}{% endblock %}
            </div>
        </main>

        <!-- Footer of page -->
        <footer class="footer mt-auto py-3 bg-body-secondary">
            <div class="container">
                <span>
                    © 2023 LeLang,
                    <a href="https://t.me/zigal0">Contact us</a>
                </span>
            </div>
        </footer>

        <!-- scripts -->
        {% block scripts %}{% endblock %}

        <script src="{% static 'js/messages.js' %}"></script>
    </body>
</html>