<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block page-title %}{% endblock %}</title>
        <!-- load static -->
        {% load static %}
        <!-- CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'navbar-fixed.css' %}" rel="stylesheet">
    </head>

    <body class="d-flex flex-column h-100">
        <!-- Header of page -->
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">LeLang</a>
                    <button
                            class="navbar-toggler"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <!-- Left side of navbar -->
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/learning">Learning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/word-add">Word-add</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/word-list">Word-list</a>
                            </li>
                        </ul>

                        <!-- Right side of navbar -->
                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{ user.username }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main part of page -->
        <main class="flex-shrink-0">
            <div class="container">
                {% include 'messages.html' %}
                <span>Something general.</span>
                {% block content %}{% endblock %}
            </div>
        </main>

        <!-- Footer of page -->
        <footer class="footer mt-auto py-3 bg-body-tertiary">
            <div class="container">
                <span class="text-body-secondary">Some info for footer.</span>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <script>
            var messages = document.getElementsByClassName('msg-container');
            for (let i = 0; i < messages.length; i++) {
                let message = messages[i]
                setTimeout(function() {
                    message.remove();
                }, 3000);
            }
        </script>

    </body>
</html>